<div class="banner padded">
  <div class="banner-content">
    <h1>Coktails Mania</h1>
    <p>Very cool stuff</p>
  </div>
</div>

<div class="container">
  <div class="row">
      <ul class= "list-unstyled">
      <% @cocktails.each do |cocktail| %>
        <li>
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
