<div class="banner padded">
  <div class="banner-content">
    <h1>Coktails Mania</h1>
    <p>Very cool stuff</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.photo? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url (cocktail.photo.path);">
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("placeholder.jpg);">
        <% end %>
          <div class="card-category">Popular</div>
          <div class="card-description">
             <h2><%= cocktail.name %></h2>
          </div>
          <% link_to cocktail_path(cocktail), class: "card-link" %>
        </div>
    <% end %>
    </div>
  </div>
</div>



