<div class="banner">
  <div class="banner-content">
    <h1>Coktails Mania</h1>
    <p>Very cool stuff</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="text-center"><%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-danger" %></h3>
      <ul class= "list-unstyled">
      <% @cocktails.each do |cocktail| %>
        <li>
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
