h1 {
  color: #66FFCC;
}

.banner {
  background-image: url("placeholder.jpg");
  background-size: cover;
  height: 50vh;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: $green;
}
